# vim
*.sw*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.a
*.dll

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


# C++ stuff
*.o
blit
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*.pro.user*
build-*-Debug
build-*-Release


# Misc
samples/blau_geist
src/blit.app/
src/.qmake.stash
toybox/xml_reading/xml_reader
doc/blit_qdoc
doc/blit_doxydoc
*.DS_Store
*.gch

# Qt
*.ui.autosave

# CTags
tags
